*.class
*.ear
*.iml
*.ipr
*.iws
*.jar
*.war
.idea/
.idea_modules/
.mtj.tmp/
.mvn/timing.properties
/out/
atlassian-ide-plugin.xml
buildNumber.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
hs_err_pid*
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
